body {
  font-family: Arial, sans-serif;
  background: #f0eef1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #030302;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#display {
  font-size: 3em;
  margin: 20px 0;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #f9f6f6;
  color: rgb(2, 4, 7);
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background: #61f961;
}

#laps {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#laps li {
  background: #37f137;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
